.new-button-bar { width:50%; background-color:Wheat; }

.wmd-button-bar { width:50%; background-color:Aquamarine; }

.wmd-input { width:50%; height:500px; }

.wmd-preview { width:50%; background-color:LightSkyBlue; }

.wmd-output { width:50%; background-color:Pink; }

.wmd-button
{
	//background-color:transparent;
	//border:1px solid transparent;
	display:inline;
	margin:0px;
	margin-top:7px;
	margin-bottom:5px;
	padding:1px;
	zoom:1
}

.wmd-button:hover
{
	background-color:LightBlue;
	border-width:1px solid Blue;
	opacity:0.4;
}

.wmd-button-separator
{
	height:20px;
	width:20px;
	padding:4px;
	padding-top:0px;
}

#new-button-row 
{
	position: relative; 
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 10px;
	padding: 0px;  
	height: 20px;
}

.new-spacer
{
	width: 1px; 
	height: 20px; 
	margin-left: 14px;
	
	position: absolute;
	background-color: Silver;
	display: inline-block; 
	list-style: none;
}

.new-button
{
	width: 20px; 
	height: 20px; 
	margin-left: 5px;
	margin-right: 5px;
	
	position: absolute;
	background-image: url(wmd-buttons.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: inline-block; 
	list-style: none;
}



#new-button-bar #wmd-bold-button    {left: 0px;   background-position: 0px 0;}
#new-button-bar #wmd-italic-button  {left: 25px;  background-position: -20px 0;}
#new-button-bar #wmd-spacer1        {left: 50px;}
#new-button-bar #wmd-link-button    {left: 75px;  background-position: -40px 0;}
#new-button-bar #wmd-quote-button   {left: 100px;  background-position: -60px 0;}
#new-button-bar #wmd-code-button    {left: 125px;  background-position: -80px 0;}
#new-button-bar #wmd-image-button   {left: 150px;  background-position: -100px 0;}
#new-button-bar #wmd-spacer2        {left: 175px;}
#new-button-bar #wmd-olist-button   {left: 200px;  background-position: -120px 0;}
#new-button-bar #wmd-ulist-button   {left: 225px; background-position: -140px 0;}
#new-button-bar #wmd-heading-button {left: 250px; background-position: -160px 0;}
#new-button-bar #wmd-hr-button      {left: 275px; background-position: -180px 0;}
#new-button-bar #wmd-spacer3        {left: 300px;}
#new-button-bar #wmd-undo-button    {left: 325px; background-position: -200px 0;}
#new-button-bar #wmd-redo-button    {left: 350px; background-position: -220px 0;}
#new-button-bar #wmd-help-button    {right: 0px; background-position: -240px 0;}


.wmd-prompt-background
{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:#000;
	z-index:1000;
	
	opacity:0.5;	/* Normal browsers */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";	/* IE8 */
	filter:alpha(opacity=50);	/* IE7. The IE8 code must come before IE7! */
}

.wmd-prompt-dialog
{
	border-width:3px solid #333;
	border-left:3px solid white;
	border-top:3px solid white;
	background-color:#ccc;
	padding:10px;
	position:fixed;
	width:400px;
	z-index:1001;
	display:block;
	left:50%;
	top:50%;
}

.wmd-prompt-dialog > div {
	font-size:14px;
	font-family:helvetica, arial, verdana, sans-serif;
	padding:5px;
}

.wmd-prompt-dialog > form {
	padding:0px;
	margin:0px;
	width:100%;
	text-align:center;
	position:relative;
	float:left;
}

.wmd-prompt-dialog > form > input[type="text"] {
	display:block;
	width:80%;
	margin-left: auto;
	margin-right: auto;
	background-color:white;
	color:black;
}

.wmd-prompt-dialog > form > input[type="button"]{
	margin:10px;
	display:inline;
	width:7em;
}
