.wmd-button-bar { width:50%; background-color:Aquamarine; }

.wmd-editor { width:50%; height:500px; }

.wmd-preview { width:50%; background-color:LightSkyBlue; }

.wmd-output { width:50%; background-color:Pink; }