/* compress this with http://www.cssdrive.com/index.php/main/csscompressor/ */

/* Reset ---------------------------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ v1.0 | 20080212 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body
{
	line-height: 1;
}
ol, ul
{
	list-style: none;
}
blockquote, q
{
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after
{
	content: '';
	content: none;
}

ins
{
	text-decoration: none;
}
del
{
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table
{
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after
{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix
{
	display: inline-block;
}

html[xmlns] .clearfix
{
	display: block;
}

* html .clearfix div
{
	height: 1%;
}
/* Global --------------------------------------------------------- */

/* BEGIN post reset DEFAULT HTML tag styles */

code
{
	font-family: Consolas, Monaco, Liberation Mono, Lucida Console;
}

textarea
{
	font-family: Lucida Console, Monaco, Liberation Mono;
	border: 1px solid #999;
	font-size:90%;
}

input, select, button
{
	border: 1px solid #999;
	font-size:100%;
	font-family: Trebuchet MS, Helvetica, sans-serif;
}

input
{
	margin: 5px 0px 5px 0px;
	padding:3px;
}

pre
{
	font-family: Consolas, Monaco, Liberation Mono, Lucida Console;
	margin-bottom: 10px;
	overflow: auto;
	width: 620px;
	padding: 5px;
	background-color: #F5F5F5;
	padding-bottom: 20px !ie7;
	max-height:750px;
}


blockquote
{
	margin-bottom: 10px;
	margin-right: 15px;
	padding: 10px 0px 1px 10px;
	background-color: #F5F5F5;
}

b, strong
{
	font-weight: bold;
}

i, em
{
	font-style: italic;
}

ul
{
	list-style: disc;
	margin-left: 30px;
	margin-bottom: 1em;
}

p
{
	clear: both;
	margin-bottom: 1em;
}

ol
{
	list-style: decimal;
	margin-left: 30px;
	margin-bottom: 1em;
}

a
{
	color: #07c;
	text-decoration: none;
	cursor: pointer;
}

a:hover
{
	text-decoration: underline;
}

a:visited
{
	color:#4A6B82;
}

h1
{
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 170%;
	margin-bottom: 7px;
}

h2
{
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 140%;
	font-weight: bold;
	margin-bottom: 7px;
}

h3
{
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	margin-bottom: 5px;
}

hr
{
	border: 0;
	color: #aaa;
	background-color: #aaa;
	height: 1px;
	margin-bottom: 20px;
}

sup
{
	font-size: 80%;
	position: relative;
	top: -0.4em;
}

sub
{
	position: relative;
	top: 0.3em;
	font-size: 80%;
}

/* END post-reset default HTML tag styles */


#__idselector_button
{
	height:36px;
	margin: 0px;
	padding: 0px;
	padding-bottom:4px;
	margin-bottom:5px !ie7;
}

.owner-answer
{
	background-color: #E0EAF1;
	border-bottom-color: #7F9FB6;
}

.owner-answer pre
{
	background-color: #D6E4EE;
}

.owner-answer blockquote
{
	background-color: #D6E4EE;
}


.wmd-preview
{
	border: 2px dotted white;
	background-color: #E0EAF1;
	line-height: 1.2;
	width: 645px;
}

.wmd-preview blockquote
{
	margin-left:2px;
	background-color: #D6E4EE;
}

.wmd-preview pre
{
	margin-left:2px;
	background-color: #D6E4EE;
}

#answers
{
	clear:both;
	padding-top:5px;
	width:710px;
}

.answer
{
	width: 710px;
	border-bottom: 1px dotted #666;
	padding-bottom: 20px;
	padding-top: 20px;
}

.accepted-answer
{
	background-color: #E2FCE2;
	border-bottom-color: #9BD59B;
}

.accepted-answer pre
{
	background-color: #D9F5D9;
}

.accepted-answer blockquote
{
	background-color: #D9F5D9;
}

.post-signature
{
	padding-left: 5px;
	padding-top: 2px;
	text-align: left;
	vertical-align: top;
	width: 175px;
	height: 58px;
}

.owner
{
	background-color: #E0EAF1;
}

.owner-answer
{
	background-color: #E0EAF1; /* also appears in /views/questions/show.aspx.cs AnswerBackgroundColor for new post animation */
	border-bottom-color: #7F9FB6;
}

.owner-answer pre
{
	background-color: #D6E4EE;
}

.owner-answer blockquote
{
	background-color: #D6E4EE;
}

.deleted-answer
{
	background-color: #E3D9D9;
	border-bottom-color: #C29696;
}

.deleted-answer pre
{
	background-color: #DDCBCB;
}

.deleted-answer blockquote
{
	background-color: #DDCBCB;
}

.downvoted-answer
{
	color: #888;
}

.item-multiplier
{
	font-size: 120%;
	font-weight: bold;
	margin-right: 4px;
	color: #444;
}

.reputation-score
{
	font-weight: bold;
	color: #333;
	font-size: 120%;
	margin-right:2px;
}

.relativetime
{
	font-weight: bold;
	text-decoration: none;
}

.notify
{
	font-family: Arial, Helvetica, sans-serif;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 100;
	padding: 7px 0 5px 0;
	text-align: center;
	font-size: 130%;
	font-weight: bold;
	letter-spacing: -1px;
	color: #735005;
	background-color: #F4A83D;
}

.notify span
{
	float: left;
	width: 95%;
	text-align: center;
}

.close-notify
{
	float: right;
	margin-right: 20px;
	color: #735005;
	text-decoration: none;
	background-color: #FAD163;
	border: 2px #735005 solid;
	padding-left: 3px;
	padding-right: 3px;
}

.summaryinfo
{
	color: #808185;
	text-align: center;
}

.summarycount
{
	text-align: center;
	color: #808185;
	font-size: 350%;
	font-weight: bold;
}

.link-separator
{
	margin: 0px 4px 0px 4px;
	color: #ccc;
	font-size: 120%;
}

.post-taglist
{
	margin-bottom:10px;
	clear:both;
}

.post-menu
{
	padding-top: 2px;
}

.post-menu a
{
	padding: 0px 3px 2px 3px;
	color: #888;
}

.post-menu .link-separator
{
	margin: 0px;
	padding: 0px;
}

.post-menu a:hover
{
	background-color:#777;
	color: white;
	text-decoration: none;
}

.post-comments a
{
	padding: 0px 3px 2px 3px;
	color: #888;
}

.post-comments a:hover
{
	background-color:#777;
	color: white;
	text-decoration: none;
}

a.comments-link, a.comments-link-accepted, a.comments-link-owner, a.comments-link-deleted
{
	color:black;
}

div.comments-container, div.comments-container-accepted, div.comments-container-owner, div.comments-container-deleted
{
	display:none;
	margin-top:3px;
	padding:0px 5px 5px 5px;
}

div.comments-container, a.comments-link
{
	background-color:#eee;
}

div.comments-container-accepted, a.comments-link-accepted
{
	background-color:#D9F5D9;
}

div.comments-container-owner, a.comments-link-owner
{
	background-color:#D6E4EE;
}

div.comments-container-deleted, a.comments-link-deleted
{
	background-color:#DDCBCB;
}

div.comments	
{
	padding:10px 0px 10px 0px;
	line-height:150%;
}

div.comments div 
{
	color:#333;
	margin-bottom:10px;
}

div.comments div img 
{
	vertical-align:middle;
	margin-left:5px;
	margin-bottom:1px;
}

span.comment-user 
{
	color:#999;
}

a.comment-user, a.comment-user:hover
{
	color:#07c;
	padding:0;
	background-color:inherit;
}

a.comment-user:hover 
{
	text-decoration:underline;
}

span.comment-date 
{
	color:#999;
}

form.post-comments div 
{
	margin-top:5px;
	vertical-align:top;
}

form.post-comments input 
{
	vertical-align:top;
	margin-left: 10px;
	margin-top: 1px;
	width:100px;
}

form.post-comments textarea 
{
	height:4em;
	margin-bottom:4px;
}

span.text-counter 
{
	margin-right:20px;
}


.accept-answer-link
{
	font-weight: bold;
	color: #508850 !important;
}

.accept-answer-link:hover
{
	color: #E1E818 !important;
	background-color: #508850 !important;
	text-decoration: none;
}	

.deleted-post
{
	color: #B65454 !important;
	font-weight: bold !important;
}

.deleted-post:hover
{
	color: white !important;
	background-color: #B65454 !important;
}

.link-unlock
{
	font-weight: bold;
	color: Black !important;
}

.link-unlock:hover
{
	color: white !important;
	background-color: black !important;
}

.search-highlight
{
	color: #333;
	background-color: #FFFE9B;
	font-weight: bold;
}

.page-description
{
	color: #333;
	font-size: 120%;
	margin: 1.2em 1.2em 0.5em 1.2em;
	line-height:120%;
}

#betamessage
{
	float: left;
	clear: left;
	color: maroon;
}

#betamessage a
{
	color: Maroon;
	text-decoration: underline;
}

#svnrevision
{
	clear: right;
	float: right;
}

.content-page
{
	color: #333;
	font-size: 120%;
	line-height: 1.2;
	margin: 1.2em;
}


#post-preview
{
	padding: 3px;
	margin-top: 3px;
}

#comment-div
{
    display:none;
}

.user-list
{
	margin-right: 10px;
	width: 195px;
	height:21px;
	float: left;
	text-align: left;
	vertical-align: middle;
	white-space:nowrap;
	overflow:hidden;
}
.user-name
{
	float: left;
	width: 125px;
}

.user-flair
{
	float: left;
}

.user-info .user-gravatar32
{
	float: left;
	width: 32px;
}

.user-info .user-action-time
{
	margin-top:2px;
	margin-bottom: 4px;
}

.user-info .user-details
{
	float: left;
	margin-left: 5px;
	width: 138px;
	overflow: hidden;
	white-space: nowrap;
}

.user-details
{
	color: #888;
	line-height:17px;
}

#revisions
{
	margin-top: 20px;
	margin-left: 20px;
}

tr.revision td
{
	background-color: #eee;
}

tr.owner-revision td
{
	background-color: #E0EAF1;
}

.revision-comment
{
	color: #333;
	background-color: #FFFE9B;
	padding: 3px;
	line-height: 1.4;
}

.form-item
{
	position: relative;
}

#markdown-help
{
	position: absolute;
	left: 520px;
	top: 20px;
}

#openid_identifier
{
	background: url(/content/img/openid.gif) center left no-repeat;
	padding-left: 18px;
	height:19px;
}

#answers-header
{
	width:710px;
	margin-top:10px;
	margin-bottom:10px;
}

#question-header
{
	font-family: Trebuchet MS, Helvetica, sans-serif;
	width: 950px;
	margin-bottom: 20px;
	border-bottom: 1px solid #555;
}

#question-header a
{
	color: #000;
}

#question-header h2
{
	font-size: 180%;
}

#user-about-me
{
	background-color: #eee;
	line-height: 120%;
	padding: 10px;
	margin: 10px;
	height: 200px;
	width: 90%;
	overflow: auto;
}

.answer-votes
{
	color: #555;
	text-align: center;
	background-color: #eee;
	float: left;
	font-weight: bold;
	padding: 4px;
	padding-bottom: 5px;
	width: 20px;
	height: 15px;
	text-decoration: none;
	font-size: 110%;
}

.answer-link
{
	float: left;
	width: 700px;
	margin-top: 5px;
	padding-left: 10px;
	color: #555;
}

.answer-link a
{
	font-weight: bold;
}

.answer-summary
{
	padding: 3px;
	clear: both;
}

.answer-paging
{
	clear:both;
}

table.user-details td
{
	color:Black;
	padding: 4px 0px 4px 0px;
}

.question-closed
{
	margin-top:-20px;
	margin-bottom:20px;
	width:680px;
	background-color:#eee;
	line-height:150%;
	padding:15px;
	text-align:center;
}

/* fixes page height calculation in IE7 -- do not remove unless you've verified */
/* http://www.positioniseverything.net/articles/haslayout.html */
#content 
{
	zoom:1;
}

.answer-title
{
	color: #bbb;
}

.answer-title:visited
{
	color: #bbb;
}

.history-table p
{
	margin-bottom:3px;
	margin-top:3px;
}

/* END new styles I've added */

body
{
	background: #fff;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
	text-align: center;
}

#noscript-warning
{
	font-family: Arial, Helvetica, sans-serif;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 101;
	text-align: center;
	font-weight: bold;
	font-size: 140%;
	color: white;
	background-color: #AE0000;
	padding: 10px 0px 10px 0px;
}

.container
{
	margin: 0px auto;
	text-align: left;
	width: 950px;
}

#header
{
	width: 100%;
	padding-bottom: 15px;
}

#headerlinks a
{
	font-weight: bold;
	height: 22px;
	line-height: 20px;
}

.nav
{
	font-size: 130%;
}

.nav ul
{
	margin: 0;
}

.nav li
{
	background: #777;
	display: block;
	float: left;
}

.nav li.youarehere
{
	background: #f90;
}

.nav a
{
	color: #fff;
	display: block;
	font-weight: bold;
	padding: 6px 15px 6px 15px;
	text-decoration: none;
}

.nav li.youarehere a
{
	color: white;
}

.primarynav li
{
	margin-right: 7px;
}

.primarynav li:hover
{
	background-color: #f90;
}

.betamessage-top
{
	font-size: 85%;
	color: Red;
	height: 20px;
	line-height: 20px;
	text-align: left;
}

#container
{
	clear: both;
	overflow: hidden;
	width: 100%;
}

#mainbar
{
	float: left;
	margin-bottom: 40px;
	width: 671px;
}

#mainbar-full
{
	width:950px;
}

#mainbar-footer
{
	clear: both;
	width: 100%;
}

#feed-link
{
	text-align: right;
	float: right;
}

#feed-link a
{
	color: #777;
}

#feed-link-image
{
	margin-left: 12px;
	float:left;
	margin-right:5px;
}

#feed-link-text
{
	float:left;
}

#pageheader
{
	border-bottom: 1px solid #666;
	height: 34px;
	padding: 0;
	width: 100%;
}

#pageheader h2
{
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 170%;
	line-height: 34px;
}


#subheader
{
	border-bottom: 1px solid #666;
	height: 34px;
	width: 100%;
	clear:both;
}

#subheader h2
{
	float: left;
	font-size: 170%;
	line-height: 34px;
	margin-bottom:0px;
}

#subheader h2 a
{
	color: #000;
}

#tabs
{
	float: right;
	position: relative;
	font-weight: bold;
}

#tabs a
{
	background: #eee;
	border: 1px solid #eee;
	color: #777;
	display: block;
	float: left;
	font-size: 90%;
	height: 24px;
	line-height: 22px;
	margin: 8px 8px 0 0;
	padding: 0 11px 0 11px;
	text-decoration: none;
}

#tabs a:hover
{
	background: #fff;
	border: 1px solid #777;
	border-bottom-color: #fff;
	line-height: 20px;
	margin-top: 9px;
}

#tabs a.youarehere
{
	background: #fff;
	border: 1px solid #777;
	border-bottom-color: #fff;
	color: black;
	font-size: 120%;
	height: 30px;
	line-height: 28px;
	margin-top: 3px;
	padding: 0px 11px 0px 11px;
}

.question-summary
{
	border-bottom: 1px dotted #999;
	overflow: hidden;
	padding: 11px 0px;
	width: 670px;
	float:left;
}

#question
{
	clear: both;
	width: 680px;
	float: left;
}

.stats
{
	background: #eee;
	margin: 0 0 0 7px;
	padding: 4px 7px 6px 7px;
	width: 58px;
}

.statsarrow
{
	width: 7px;
	height: 32px;	
	background: url(/content/img/stats-arrow.gif) top right no-repeat;	
	float: right;
}

.statscontainer
{
	width: 86px;
	float: left;
	margin-right: 8px;
}

.narrow .stats
{
	background: none;
	margin: 0 0 0 7px;
	padding: 0;
	width: auto;
	height: 48px;
	float: left;
}

.votes
{
	color: #555;
	padding: 0 0 7px 0;
	text-align: center;
}

.narrow .votes
{
	background: #eee;
	float: left;
	margin: 0 3px 0 0;
	padding: 5px;
	width: 38px;
	height: 38px;
}

.narrow .votes strong
{
	font-size: 190%;
}

.vote-count-post
{
	display: block;
	font-size: 240%;
}

.narrow .vote-count-post
{
	font-size: 100%;
	margin: 0;
}

.views
{
	padding-top: 4px;
	color: #999;
	text-align: center;
}

.narrow .views
{
	float: left;
	margin: 0 7px 0 0;
	padding: 5px 0px 5px 4px;
	width: 40px;
	height: 38px;
}

.views strong
{
	display: block;
}

.narrow .views strong
{
	display: block;
	font-size: 140%;
}

.status
{
	margin-top: -3px;
	padding: 4px 0 4px;
	text-align: center;
}

.narrow .status
{
	float: left;
	margin: 0 3px 0 0;
	padding: 5px;
	width: 48px;
	height: 38px;
}

.status strong
{
	color: white;
	display: block;
	font-size: 140%;
}

.narrow .status strong
{
	font-size: 190%;
}

.answered
{
	background: #75845C;
	color: white;
}

.answered-accepted
{
	background: #75845C;
	color: #E1E818;
}

.answered-accepted strong
{
	color: #E1E818;
}

.unanswered
{
	background: #9A4444;
	color: white;
}

.summary
{
	float: left;
	width: 571px;
}

.summary h3
{
	font-size: 130%;
}

.narrow .summary
{
	width: 495px;
}

div.excerpt
{
	line-height: 1.2;
	padding: 0;
	margin: 0;
	padding-bottom: 5px;
}

.excerpt p
{
	margin-bottom: 3px;
}

div.tags
{
	line-height: 18px;
	float: left;
}

div.tags a:hover
{
	text-decoration: none;
}

div.started
{
	width: 185px;
	color: #999;
	float: right;
	line-height: 18px;
}

.narrow div.started
{
	width: auto;
	line-height: inherit;
	padding-top: 4px;
	white-space: nowrap;
}

div.started a
{
	font-weight: bold;
}

div.started img
{
	vertical-align: middle;
}

div.started .reputation-score
{
	margin-left: 1px;
}

#sidebar
{
	float: right;
	margin-bottom: 60px;
	width: 264px;
}

.module
{
	background-color: #eee;
	padding: 10px;
	padding-bottom: 2px;
	margin-bottom: 10px;
}

.module .spacer
{
	margin-bottom:8px;
}

.module h4
{
	line-height: 1.4;
	color: #444;
	font-size: 130%;
	padding-bottom: 7px;
}

.module-warning
{
	background-color: #8E1609;
	color: white;
}

.module-warning h4
{
	color:White;
}

.newuser
{
	color: #735005;
	background-color: #FFF2CA;
}

.newuser h4
{
	color: #AE0000;
}

.newuser a
{
	color: #735005;
}

.module p
{
	font-size: 120%;
	line-height: 1.3;
	margin-bottom: 0.5em;
}

.module .box
{
	position: relative;
}

.module ul
{
	margin-left:15px;
	list-style-type: square;
	font-size:120%;
	margin-right:30px;
	line-height:120%;
}
.module ul li
{
	margin-bottom:4px;
}

#recent-tags .post-tag 
{
	background-color: #eee;
	border: none;
	margin: 0;
	font-size: 100%;
	color: black !important;
}

#recent-tags .post-tag:hover
{	
	background-color: #777;
	color: White !important;
	border: none;
	margin: 0;
	text-decoration: none;
}

#footer
{
	background: #777;
	border-top: 7px solid #000;
	clear: both;
	overflow: hidden;
	padding: 15px;
	margin-top: 30px;
}

#footer-menu
{
	color: #fff;
	float: left;
	font-size: 100%;
	line-height: 68px;
}

#footer-menu a
{
	color: White;
}

#creativecommons
{
	float: right;
	padding: 7px;
}

#hostingsponsor
{
	padding:7px;
	float:right;
}

div.vote
{
	text-align: center;
	vertical-align: middle;
}

div.vote span
{
	display: block;
	color: #808185;
	font-weight: bold;
}

div.vote img
{
	cursor: pointer;
}

.vote-favorite
{
	margin-bottom:5px;
}

.vote-offensive-count
{
	color: #B65454 !important;
}

.favoritecount
{
	margin-top:-5px;
	text-align: center;
	color: #808185;
}

.favoritecount-selected
{
	color: #D4A849;
}

.favorites-count
{
	text-align: center;
	color: #D4A849;
	margin-top:13px;
	float:left;
}

.favorites-count-off
{
	text-align: center;
	color: #919191;
	margin-top:13px;
	float:left;
}

.user-stats-table .question-summary
{
	width:800px;
}

.user-stats-table .summary
{
	width:600px;
}

#favorites-list .question-summary
{
	width:900px;
}

#favorites-list .summary
{
	width:700px;
}

.post-text
{
	font-size: 107%;
	margin-bottom: 5px;
	margin-right: 5px;
	line-height: 130%;
}

/* Form styles */
form hr
{
	border: 1px solid #ccc;
	width: 100%;
	text-align: left;
}

div.form-item
{
	padding: 10px 0px 15px 0px;
}

div.form-submit
{
	padding: 10px 0px 15px 0px;
	display: block;
}

div.form-submit input
{
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	border: 1px solid #888;
	padding: 2px;
	margin: 3px;
}

div.form-item label
{
	display: block;
	font-size: 115%;
	font-weight: bold;
	color: #333;
	padding-bottom: 3px;
}

span.form-error
{
	color: #990000;
	font-weight: normal;
	margin-left: 5px;
	font-size: 90%;
}

div.form-error
{
	color: #990000;
	font-weight: bold;
	font-size: 120%;
}

div.form-item-info
{
	padding: 4px 0 4px 4px;
	width: 80%;
	color: #777;
}

div.form-close
{
	float: right;
	color: #0000FF;
	text-decoration: underline;
	cursor: pointer;
}

#login-form-header
{
	display: none;
	position: absolute;
	right: 16px;
	top: 8px;
}

#login-form-container
{
	background-color: #eee;
	padding: 8px;
	border: 1px solid #666;
}

/* Pagination Sizer Control */
.page-sizer
{
	float: left;
	margin-top: 5px;
	margin-bottom: 30px;
	padding-top: 5px;
	display: block;
}

/* Pagination Control */
.pager
{
	margin-top: 10px;
	margin-bottom: 10px;
}
.page-numbers
{
	font-family: Trebuchet MS, Helvetica, sans-serif;
	border: 1px solid #ccc;
	color: #808185;
	display: block;
	float: left;
	margin-right: 3px;
	padding: 2px 4px 3px;
	text-decoration: none;
}

.page-numbers.desc
{
	border: none;
}

.page-numbers:hover
{
	text-decoration: none;
}

.page-numbers.next, .page-numbers.prev
{
	border: 1px solid #fff;
}

.page-numbers.current
{
	background-color: #808185;
	border: 1px solid #808185;
	color: white;
	font-weight: bold;
}

.page-numbers.dots
{
	border: 1px solid #fff;
}

/* Answers view divider */
.answers-view-switch
{
	margin: 0px;
	text-decoration: none;
	float: right;
	list-style-type: none;
}

.tablenav
{
	margin: 0px;
	clear: both;
	text-decoration: none;
	vertical-align: text-top;
}

ul.answers-view-switch li
{
	margin: 0;
	float: left;
	text-decoration: none;
	padding: 4px 6px;
	border: 1px solid #888;
}

ul.answers-view-switch li.current
{
	margin: 0;
	border: medium none;
	text-decoration: none;
	font-weight: bold;
	color: White;
	background-color: #F0F0F0;
	border: 1px solid #888;
}

.viewswitch
{
	color: black;
	text-decoration: none;
}


.vote-notification, .error-notification 
{
	z-index: 1;
	cursor: pointer;
	display: none;
	position: absolute;
	padding: 15px;
}

.vote-notification
{
	color: White;
	background-color: #AE0000;
}

.error-notification
{
	color: White;
	background-color: #AE0000;
}

.close-reason
{
	font-weight:bold;	
}

.vote-notification a, .error-notification a
{
	color: white;
	text-decoration: underline;
}

.post-tag
{
	color: #3E6D8E;
	background-color: #E0EAF1;
	border-bottom: 1px solid #3E6D8E;
	border-right: 1px solid #7F9FB6;
	margin: 2px 2px 2px 0;
	padding: 3px 4px 3px 4px;
	text-decoration: none;
	font-size: 90%;
	line-height: 2.2;
	white-space:nowrap;
}

.post-tag:hover
{
	background-color: #3E6D8E;
	color: #E0EAF1;
	border-bottom: 1px solid #37607D;
	border-right: 1px solid #37607D;
	text-decoration: none;
}

.badge
{
	color: #fff;
	background-color: #333;
	border: 1px solid #333;
	margin: 0 3px 3px 0;
	padding: 4px 8px 4px 3px;
	color: white !important;
	text-decoration: none;
	line-height: 1.9;
}

.badge:hover
{
	border: 1px solid #555;
	background-color: #555;
	text-decoration: none;
}

.badge1
{
	margin-left:3px;
	font-size: 120%;
	color: #FFCC00;
}

.badge2
{
	margin-left:3px;
	font-size: 120%;
	color: #C0C0C0;
}

.badge3
{
	margin-left:3px;
	font-size: 120%;
	color: #CC9966;
}

.badgecount
{
	padding-left: 1px;
	color: #808185;
}

.diff-delete
{
	text-decoration: line-through; 
	color:  #FF5F5F;
}

.diff-add
{
	background: #97FF97;
}

div.grippie {
	background:#EEEEEE url(/Content/Img/grippie.png) no-repeat scroll center 2px;
	border-color:#DDDDDD;
	border-style:solid;
	border-width:0pt 1px 1px;
	cursor:s-resize;
	height:9px;
	overflow:hidden;
}

.tagged-ignored
{	
	opacity: 0.5;
	background-color: White;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}

.tagged-ignored-hidden
{	
	display: none;
}

.tagged-interesting
{
	background-color: #FFF2CA;
}

.welovestackoverflow
{	
	padding: 8px 0px 14px 0px;
	color: #222;
	line-height: 130%;
	overflow:hidden;
}

.welovestackoverflow a
{
	font-weight: bold;
	color: #000;
	text-decoration: underline;
}


#question-suggestions
{
	overflow:hidden;
}


/*! BEGIN: jquery.autocomplete.css */

.ac_results {
	padding: 0px;
	border: 1px solid #777;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
	text-align: left;
}

.ac_highlight
{
	font-weight: bold;
	text-decoration: underline;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
	font-family: Trebuchet MS, Helvetica, sans-serif;
}

.ac_loading {
	background: white url('img/indicator.gif') right center no-repeat;
}

.ac_over 
{
	font-family: 'Trebuchet MS', Helvetica, sans-serif;	
	background-color: #f90;
	color: white;
}

/* END: jquery.autocomplete.css */

/*! BEGIN: prettify.js. */

/* string literal */
.str { color:maroon; } 
/* keyword */
.kwd { color:#00008B } 
/* comment */
.com { color:gray } 
/* type */
.typ { color:#2B91AF } 
/* literals */
.lit { color:maroon; }  
/* punctuation string */
.pun { color:black } 
/* punctuation string */
.pln { color:black } 
/* ML tags */
.tag { color:maroon } 
/* ML attribute name */
.atn { color:red } 
/* ML attribute value */
.atv { color:blue } 
/* ML declaration */
.dec { color:purple } 
pre.prettyprint {  }

@media print {
  .str { color: #060; }
  .kwd { color: #006; font-weight: bold; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #044; }
  .pun { color: #440; }
  .pln { color: #000; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #404; }
  .atv { color: #060; }
}

/* END: prettify.js */

.stats-qa 
{
	margin-left: 5px;
}